* {
    box-sizing: border-box;
    transition: 5s;
}

body h2 a {
    text-decoration: none;
    color: #ffdd00;
    font-weight: bolder;
}

body h2 a:hover {
    border-bottom: 3px solid rgb(207, 241, 9);
}

body {
    margin: 0;
    display: flex;
    background-color: #1F5099;
}

.title {
    color: #E6CA18;
    font-size: 2.8em;
    padding: 5px;
}

header {
    margin: 0;
    background-color: #670099;
    width: 400px;
    height: 100vh;
    margin-right: 10px;
}

header img {
    margin-top: 30px;
    width: 300px;
    margin-left: 20px;
}

p {
    max-width: 600px;
    text-align: justify;
    margin: 0 30px;
}

li {
    max-width: 600px;
    text-align: justify;
    margin: 0 30px;
}