/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #191b1b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header*/
header {
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;

    /*animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;*/
}

header nav ul li {
    list-style: none;
    background-color: #1CD3EB;
    border-radius: 6px;
    padding: 10px;
    height: 100%;
}

/* Main */
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.text {
    max-width: 685px;
}

main div.text h1 {
    margin-bottom: 0;
}

main div.text p {
    line-height: 1.4rem;
    margin-top: 1rem;
}

main div .animation {
    height: 2px;
    border-top: 2px solid #1CD3EB;
    border-radius: 10%;

    position: relative;

    animation-name: grow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

main div.img {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

}

main div.img img {
    z-index: -11;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
    border-radius: 50%;
    transition: .2s;
    transition-property: transform;
}

 /*
main div.img::before {
    content: "Olá!";
    color: white;

    font-size: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 90%;

    position: absolute;
    z-index: -10;
}


main div.img .animation {
    height: 100%;
    max-height: 400px;
    width: 100%;
    max-width: 400px;
    border-top: 2px solid #1CD3EB;
    border-radius: 50%;
    position: absolute;

    overflow-y: hidden;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    animation-name: color;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

footer ul {
    list-style: none;
    text-align: center;
    display: flex;
}

footer ul li {
    width: 42px;
    border-radius: 50%;
    margin: 10px;
    transition: 0.3s transform;
}

footer ul li:hover {
    transform: translateY(-30%) scale(1.2);
}

footer ul li img {
    width: 100%;
}


/* Animations */
@keyframes move {
    from {
        transform: scale(2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes color {
    0% {
        color: #1CD3EF;
        transform: scale(1);
    }

    50% {
        color: #760cf0;
    }

    100% {
        transform: scale(1.1);
        color: #1651f3;
    }
}

@keyframes grow {
    from {
        width: 0;
        transform: scale(0);
    } to {
        width: 90%;
    }
}


/* Media Queries*/
@media (max-width: 550px) {
  
}

@media (min-width: 1000px) {
    header {
        padding: 15px;
    }

    header nav a {
        font-size: 2rem;
    }

    section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    main div.text {
        font-size: 1.5rem;
    }

    main div.text p {
        line-height: 2.2rem;
    }
}