/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #191b1b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: none;
    opacity: 0;
    visibility: hidden;
}

main {
    display: none;
    opacity: 0;
    visibility: hidden;
}

footer {
    display: none;
    opacity: 0;
    visibility: hidden;
}

button {
    display: none;
    opacity: 0;
    visibility: hidden;
}

div.was-clicked {
    display: none;
    opacity: 0;
    visibility: hidden;
}

/* header.show*/
body header.show {
    display: block;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

header.show nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

header.show nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;

    /*animation-name: color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;*/
}

header.show nav ul li {
    list-style: none;
    background-color: #1CD3EB;
    border-radius: 6px;
    padding: 10px;
    height: 100%;
}


/* main.show */
main.show {
    opacity: 1;
    visibility: visible;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.show div.text {
    max-width: 685px;
}

main.show div.text h1 {
    margin-bottom: 0;
}

main.show div.text p {
    line-height: 1.4rem;
    margin-top: 1rem;
}

main.show div .animation {
    height: 2px;
    border-top: 2px solid #1CD3EB;
    border-radius: 10%;

    position: relative;

    animation-name: grow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

main.show div.img {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

}

main.show div.img img {
    z-index: -11;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    max-width: 450px;
    border-radius: 50%;
    transition: .2s;
    transition-property: transform;
}

 /*
main.show div.img::before {
    content: "Olá!";
    color: white;

    font-size: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 90%;

    position: absolute;
    z-index: -10;
}


main.show div.img .animation {
    height: 100%;
    max-height: 400px;
    width: 100%;
    max-width: 400px;
    border-top: 2px solid #1CD3EB;
    border-radius: 50%;
    position: absolute;

    overflow-y: hidden;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
*/

/* footer.show */
footer.show {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer.show h2 {
    animation-name: color;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

footer.show ul {
    list-style: none;
    text-align: center;
    display: flex;
}

footer.show ul li {
    width: 42px;
    border-radius: 50%;
    margin: 10px;
    transition: 0.3s transform;
}

footer.show ul li:hover {
    transform: translateY(-30%) scale(1.2);
}

footer.show ul li img {
    width: 100%;
}


/* Button */
button.show {
    background-color: #1CD3EF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1rem;

    display: block;
    opacity: 1;
    visibility: visible;
}

button.show:hover {
    filter: brightness(150%);
}

/* Was clicked */
div.was-clicked.show {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    visibility: visible;

    font-size: 3rem;
    text-align: center;
}

div.was-clicked.show span {
    font-size: 5rem;
}

/* Animations */
@keyframes move {
    from {
        transform: scale(2);
    }

    to {
        transform: scale(1);
    }
}

@keyframes color {
    0% {
        color: #1CD3EF;
    }

    50% {
        color: #760cf0;
    }

    100% {
        color: #1651f3;
    }
}

@keyframes grow {
    from {
        width: 0;
        transform: scale(0);
    } to {
        width: 90%;
    }
}


/* Media Queries*/
@media (min-width: 1000px) {
    header.show {
        padding: 15px;
    }

    header.show nav a {
        font-size: 2rem;
    }

    section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    main.show div.text {
        font-size: 1.5rem;
    }

    main.show div.text p {
        line-height: 2.2rem;
    }
}