/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #111826;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


div.container {
    max-width: 31.25rem;
}


/* Header */
div.container header {
    text-align: center;
}

div.container header h1 {
    font-size: 1.5rem;
}

div.container header img {
    border-radius: 50%;
    width: 6.5rem;
    margin-top: 1rem;
}

div.container header .text {
    margin-top: 1rem;
}

div.container header .text h2 {
    font-size: 1.3rem;
    position: relative;
    animation: moveText 0.5s;
}

div.container header .text p {
    position: relative;
    animation: moveText 0.2s;
}


/* Main */
div.container main {
    margin: auto;
}

div.container main ul {
    list-style: none;
    text-align: center;
}

div.container main ul li a {
    text-decoration: none;
    display: inline-block;
    width: 70%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #4618B8;
    font-size: 1.2rem;
    padding: 10px;
    color: white;
    text-align: center;
}

div.container main ul li a:hover {
    filter: brightness(150%);
}


/* Animations */
@keyframes moveText {
    from {
        left: -300px;
    }

    to {
        left: 0;
    }
}


/* Media Queries*/
@media (min-width: 700px) {
    header h1 {
        font-size: 2rem;
    }
}